.main-footer {
    position: relative; /* 고정된 위치로 설정 */
    text-align:center;
    width: 100%;
    background-color: #D1D1D1; /* 배경 색상 설정 */
    color: black; /* 텍스트 색상 설정 */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
    display: flex;
}

.brand-image {
    display: block;
    max-width: 50px; /* 이미지의 최대 너비를 조절합니다. */
    height: auto;
}

.brand-title{
    margin-left: 10px;
    padding-top: 5px;
}

.sidebar {
    background-color: white;
    padding-bottom: 10px;
}

.sidebar img {
    width: 100%;
}

.nav-link p{
    color: #2e3235;;
    padding-top: 10px;
}

.nav-item {
    background-color: #f1f3f6; /* 얇은 회색 배경색 */
    text-align: left;
    margin-top: 5px; /* 아이템 간격 추가 */
    display: flex;
    align-items: center;
    border: solid 3px transparent;
    position: unset !important;
}

.nav-item.\'active\'{
    border: solid 3px #125fac;
    background: #fff;
}

thead tr th{
    padding: 18px 15px !important;
}
#posts tr td{
    cursor: pointer;
    text-align: center;
    padding: 16px 15px !important;
    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 150% !important;
    font-weight: 400 !important;
}
#posts tr td:nth-child(2){
    cursor: pointer;
    text-align: left;
}
#posts tr:hover{
    opacity: 0.75 !important;
}
#posts tr:hover > td{
    text-decoration: underline !important;
}
.pointer {
    cursor: pointer;
}