<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexmotion.board.attach.AttachMapper">
    
    <resultMap id="attacResultMap" type="com.nexmotion.board.attach.Attach">
        <id column="post_id" property="postId" />
        <result column="board_code" property="boardCode" />
        <result column="post_author" property="postAuthor" />
        <result column="post_title" property="postTitle" />
        <result column="post_date" property="postDate" />
        <result column="post_update_date" property="postUpdateDate" />
        <result column="post_content" property="postContent" />
        <result column="post_hit" property="postHit" />
        <result column="post_delete_yn" property="postDeleteYn" />
    </resultMap>

    <!-- select -->
    <select id="selectAttach" parameterType="com.nexmotion.board.attach.Attach" resultMap="attachResultMap">
        SELECT *
        FROM post
        WHERE board_code = #{boardCode}
        <if test="@org.springframework.util.StringUtils@hasText(postAuthor)">
            AND post_author  = #{postAuthor}
        </if>
        <if test="@org.springframework.util.StringUtils@hasText(postTitle)">
            AND post_title = #{postTitle}
        </if>
        <if test="@org.springframework.util.StringUtils@hasText(postContent)">
            AND post_content = #{postContent}
        </if>
        <if test="@org.springframework.util.StringUtils@hasText(postUpdateDate)">
            AND post_update_date = #{postUpdateDate}
        </if>
        <if test="@org.springframework.util.StringUtils@hasText(postHit)">
            AND post_hit = #{postHit}
        </if>
        <if test="@org.springframework.util.StringUtils@hasText(postDate)">
            AND post_date = #{postDate}
        </if>
    </select>

    <!-- insert -->
    <insert id="insertAttach" parameterType="com.nexmotion.board.attach.Attach">
        INSERT
        INTO post
        VALUES (#{postId}
               ,#{boardCode}
               ,#{postAuthor}
               ,#{postTitle}
               ,now()
               ,now()
               ,#{postContent}
               ,#{postHit}
               ,#{postDeleteYn})
    </insert>

    <!-- update  -->
    <update id="updateAttach" parameterType="com.nexmotion.board.attach.Attach">
        UPDATE post
        SET post_id = #{postId}
            ,board_code = #{boardCode}
            ,post_author = #{postAuthor}
            ,post_title = #{postTitle}
            ,post_date = #{postDate}
            ,post_update_date = now()
            ,post_content = #{postContent}
            ,post_hit = #{postHit}
            ,post_delete_yn = #{postDeleteYn}
        WHERE post_id = #{postId}
    </update>

    <!--  delete (delete문을 써야하나)  -->
    <delete id="deleteAttach" parameterType="int">
        UPDATE post
        SET post_delete_yn = 1
        WHERE post_id = #{postId}
    </delete>

    <!-- select by title -->
    <select id="getAttachByTitle" resultType="com.nexmotion.board.attach.Attach" parameterType="string">
        SELECT * FROM post
        WHERE post_title LIKE CONCAT('%', #{postTitle}, '%') AND post_delete_yn = 0
    </select>

    <!-- select by content -->
    <select id="getAttachByContent" resultType="com.nexmotion.board.attach.Attach" parameterType="string">
        SELECT * FROM post
        WHERE post_content LIKE CONCAT('%', #{postContent}, '%') AND post_delete_yn = 0
    </select>



    <!-- Your select all query here with pagination -->
    <select id="getAllAttach" resultType="com.nexmotion.board.attach.Attach" parameterType="java.util.Map">
        SELECT * FROM post
        WHERE post_delete_yn = 0
        ORDER BY post_date DESC
            LIMIT #{start}, #{pageSize}
    </select>

    <!-- Your count all query here -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM post WHERE post_delete_yn = 0
    </select>

</mapper>